<div id="box">
    <div id="toolbar">
        <div>
            <button id="delete-btn">Delete</button>
            <span class="error" id="error"></span>
            <span class="success" id="success"></span>
        </div>
    </div>
    <div id="box-item-container">
    </div>
    <div id="pagination"></div>
</div>