<div id="detail">
    <div id="detail-subject"></div>
    <div class="detail-header">
        <p class="detail-label">From: </p>
        <p id="detail-sender"></p>
    </div>
    <div class="detail-header">
        <p class="detail-label">To: </p>
        <p id="detail-receiver"></p>
    </div>
    <div id="detail-body">HEllo </div>
</div>