<div id="header">
    <div class="header-component">
        <img src="/image/logo.png" alt="logo" id="logo">
        <span>Mail</span>
    </div>
    <div class="header-component">
        <div> Welcome <span id="username">{{username}}</span> ( <span id="email">{{email}}</span> )</div>
        <a href="/" id="signout-btn" ><button>Sign out</button></a>
    </div>
</div>